openai==0.28.0
pyyaml==6.0.2

# Core Chaos Toolkit
chaostoolkit
chaostoolkit-addons
chaostoolkit-wiremock

# Extensões para ambientes específicos
chaostoolkit-kubernetes          # Para executar experimentos no Kubernetes
chaostoolkit-aws                 # Para integração com AWS
chaostoolkit-azure               # Para integração com Azure

# Extensões para monitoramento e métricas
chaostoolkit-prometheus          # Para integração com Prometheus
chaostoolkit-dynatrace           # Para integração com Dynatrace

# Ferramentas adicionais para tolerância e validações
chaostoolkit-lib[jsonpath]       # Para usar tolerâncias baseadas em JSONPath
chaostoolkit-lib[jmespath]       # Para usar tolerâncias baseadas em JMESPath
chaostoolkit-lib[metrics]        # Para suporte avançado a métricas
chaostoolkit-lib[all]            # Para incluir todas as dependências opcionais\

# Ferramentas de logs e relatórios
chaostoolkit-reporting           # Para geração de relatórios
chaostoolkit-slack               # Para integração com Slack (notificações)

# Bibliotecas opcionais úteis
requests                         # Para suporte a chamadas HTTP em experimentos
jsonpath-ng                      # Para manipulação avançada de JSONPath
jmespath                         # Para manipulação de JMESPath
pytest                           # Para testes e validação
docker                           # Para suporte a integração com docker
